/* Import */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/* global */
html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3.2rem;
  font-weight: 500;
}

h2 {
  margin: 1.5em auto auto auto;
  padding: 0.5em;
}

p {
  color: #524e4d
}

a {
  text-decoration: none;
  transition: all .3s;
}

footer {
  background-color: #252a30;
  color: white;
  text-align: center;
  padding: 4rem;
}

/* general classes and ids */
.social {
  margin: 2em auto;
  text-align: center;
  max-width: 100%;
}

.social img {
  width: 2%;
  margin-bottom: -7px;
}

.skill-list img {
  margin: 1em auto;
  width: 30%;
  display: block;
  transition: all .3s;
}


.social a {
  margin: 0em 0.5em;
  padding: 0.7em 1.5em;
  text-decoration: none;
  color: white;
  background: #193d70;
  border-radius: 0.2em;
}

.social a:hover {
  background-color: #193d708f;
}

.skill-list img:hover {
  transform: scale(1.2);
}

.skill {
  margin: 1em auto;
  display: inline-block;
  width: 22%;
}

.projects, .skill-list, .about-me, .final {
  padding: 1em;
  margin: 3.5em auto;
  text-align: center;
}

.about {
  margin-top: 10rem;
  padding: .1rem;
  background-color: #ececec;
}

.about-me p {
  padding: 0em 0.5em;
  font-weight: normal;
  display: inline-flex;
  width: 30%;
}

.project {
  margin: 0.5rem;
  width: 30%;
  display: inline-grid;
}

.project p {
  color: #93a4aa;
  font-weight: 100;
}

.project a {
  color: #5EA4F7;
  border-bottom: 1px dotted #5EA4F7;
}

.project img {
  border-radius: 0.5em;
  max-width: 100%;
  transition: all 0.3s;
}

.project img:hover {
  transform: scale(1.05);
}

.final-section {
  background-color: #FED766;
  padding: 2em;
}

.final-section p {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

#contact {
  margin-top: 1rem;
  border: 1px solid #193d70;
  border-radius: 2em;
  padding: 1em 5rem;
  color: white;
  background-color: #193d70;
}

#contact:hover {
  color: #193d70;
  background-color: #FED766;
  padding: 1em 6rem;
}

#profile-img {
  border: 5px solid white;
  border-radius: 50%;
}

#top-img {
  width: 100%;
  max-width: 100%;
}

/* screen specific */
@media screen and (max-width: 499px) {
  h1 {
    font-size: 2.2rem;
  }

  .about {
    margin-top: 5rem;
  }

  .about-me p {
    padding: 0em 0.5em;
    width: 90%;
  }

  .projects, .skill-list, .about-me, .final {
    padding: 0rem;
    max-width: 100%;
  }

  .social {
    margin: 1em auto;
  }

  .social img {
    width: 8%;
  }

  .social span {
    display: none;
  }

  .social a {
    margin: 0em 0.1em;
    padding: 0.8em;
  }

  .skill {
    width: 30%;
  }

  .project {
    width: 90%;
  }

  #top-img {
    height: 40vh;
  }

  #profile-img {
    width: 25%;
    margin-top: -12%;
  }
}

@media (min-width: 500px) and (max-width: 749px) {
  .social a {
    margin: 0em 0.1em;
    padding: 0.8em;
  }

  .projects, .skill-list, .about-me, .final {
    width: 90%;
  }

  .social {
    margin: 1em auto;
  }

  .social img {
    width: 5%;
    margin-bottom: -12px;
  }

  .social span {
    font-size: 0.6em;
  }

  .about-me p {
    width: 100%;
  }

  .skill {
    width: 30%;
  }

  .project {
    margin: 0.5em;
    width: 45%;
  }

  #profile-img {
    width: 20%;
    margin-top: -10%;
  }
}

@media screen and (min-width: 750px) {
  .projects, .skill-list, .about-me, .final {
    width: 80%;
  }
  #profile-img {
    width: 15%;
    margin-top: -7%;
  }
}
